<header class="header">
    <div class="header-inner">
        <div class="container">
            <div class="navigation-cont">
                <h1 class="logo">batscript</h1>
                <nav class="navigation">
                    <ul class="nav-list">
                        <li class="nav-list-item"><a href="">home</a></li>
                        <li class="nav-list-item"><a href="">My projects</a></li>
                        <li class="nav-list-item"><a href="">About me</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>